h1 {
       font-family: Sofia;
       text-align: center;
}
.profile_pic {
    border-width:5px;
    border-color:blueviolet;
    border-style:solid;
    border-radius:50%;
}
.pic {
    text-align: center;
}
.fullCard {
    border:1px solid grey;
    border-radius: 5px;
    width:590px;
    margin:0 auto;
}
.cardContent {
    padding:10px;
    font-family: Amaranth;
}
#thumbnail {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
img {
    width: 300px;
  height: auto;
}
.cardContent:hover {
    color:blueviolet;
}