body {
    margin:0;
}
.nav {
    display: inline-block;
}
.sidenav {
    height:100%;
    width:0;
    position: fixed;
    overflow: hidden;
    top:0;
    left:0;
    background:rgba(0, 0, 0, 0.7);
    transition: 0.2s;
}
.sidenav {
    padding-top:15px;
}
.sidenav a {
    text-decoration: none;
    color:gray;
    font-size: 24px;
    font-family:Amaranth,'Courier New', Courier, monospace;
    transition: 0.3s;
    padding: 15px 0px 0px 10px;
    display: block;
}

.sidenav a:hover {
    color:white;
}

button {
    color:black;
    background: none;
    border:none;
    font-size : 30px;
    cursor: pointer;
}
button:focus {
    outline: none;
    border:none;
}