@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,600;1,200;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap");

body {
  font-family: "IBM Plex Sans" !important;
}

.chroma {
  background-color: unset;
}

code {
  font-family: "JetBrains Mono", monospace !important;
  font-size: 0.9rem !important;
}

.dark {
  --content: rgba(255, 255, 255, 0.74);
  --primary: #fff;
  --secondary: #9fa3ad;
  --tertiary: rgba(255, 255, 255, 0.16);
  --theme: #17191c;
  --hljs-bg: #101114;
  --code-bg: #24272e;
  --entry: #101114;
  --border: #101114;
}

td {
  background-color: var(--hljs-bg);
}

.highlight div {
  background-color: transparent !important;
}
